<div class="pagination-panel">
  <div class="pull-right">
    <a ng-if="prevPage" class="btn btn-default" ng-click="getPage(prevPage)">
      <span class="glyphicon glyphicon-backward"></span> Previous
    </a> 
    <a ng-if="nextPage" class="btn btn-default" ng-click="getPage(nextPage)">
      Next <span class="glyphicon glyphicon-forward"></span> 
    </a>
  </div> <div> Repositories found: {{searchResults.total_count}} </div>
  <div ng-if="(totalPages > 1)">Page {{(currentPage)}} on {{totalPages}}</div>
</div>
<perfect-scrollbar  class="search-results"  wheel-speed="50" refresh-on-change="searchResults.items">
<ul ng-scrollbar class="list-group" >
  <li ng-repeat="item in searchResults.items" class="list-group-item"><a ng-href="#/{{item.full_name}}?q={{search.q}}">{{item.full_name}}</a></li>
</ul>
</perfect-scrollbar>
