<div class="pagination-panel">
  <div> Repositories found: {{searchResults.total_count}}  <span class="pull-right" ng-if="(totalPages > 1)">Page {{(currentPage)}} on {{totalPages}}</span>
  </div>
  <div class="btn-group btn-group-justified">
    <a ng-if="prevPage" class="btn btn-default" ng-click="getPage(prevPage)">
      <span class="glyphicon glyphicon-backward"></span> Previous
    </a> 
    <a ng-if="nextPage" class="btn btn-default" ng-click="getPage(nextPage)">
      Next <span class="glyphicon glyphicon-forward"></span> 
    </a>
  </div> 
</div>
<perfect-scrollbar  class="search-results"  wheel-speed="50" refresh-on-change="searchResults.items">
<ul ng-scrollbar class="list-group" >
  <li ng-repeat="item in searchResults.items" class="list-group-item"><a ng-href="#/{{item.full_name}}?{{search | search2querystring}}">{{item.full_name}}</a></li>
</ul>
</perfect-scrollbar>
